<!-- Friends and mates navigation tabs -->
<div class="">
  <ul class="nav nav-tabs elevation">
    <li class="nav-item">
      <a class="nav-link active" href="#friends" data-toggle="tab">Friends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#level-mates" data-toggle="tab">Level mates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#school-mates" data-toggle="tab">School mates</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="friends">
      <div class="card">
        <div class="card-header bg-white">
          <h2 class="text-muted mb-0 text-center">Friends</h2>
        </div>
        <ul class="list-group list-group-flush">
          {% for friend in friends|slice:":4" %}
          <li class="list-group-item py-3">
            <div class="media">
              <img src="{{ user.profile_picture.url }}" alt="{{ friend.friend.username }}" class="mr-3 rounded-circle"
                height="60">
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{ friend.friend.username }}</h5>
                <p class="text-muted mb-0">{{ friend.friend.email }}</p>
              </div>
              <div class="ml-auto">
                {% if friend.friend.status == "online" %}
                <span class="badge badge-success">Online</span>
                {% else %}
                <span class="badge badge-secondary">Offline</span>
                {% endif %}
                <a href="#" class="btn btn-sm btn-outline-primary rounded-pill">Message</a>
              </div>
            </div>
          </li>
          {% endfor %}
          {% if friends|length > 4 %}
          <li class="list-group-item py-3">
            <a href="#" class="btn btn-sm btn-outline-secondary rounded-pill">See more</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="tab-pane fade" id="level-mates">
      <!-- User's Level mates lists -->
      {% if friends %}
      <div class="card mb-4">
        <div class="card-header bg-white">
          <h2 class="text-muted mb-0 text-center">Level mates</h2>
        </div>
        <ul class="list-group list-group-flush">
          {% for friend in friends|slice:":4" %}
          <li class="list-group-item py-3">
            <div class="media">
              <img src="{{ user.profile_picture.url }}" alt="{{ friend.friend.username }}" class="mr-3 rounded-circle"
                height="60">
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{ friend.friend.username }}</h5>
                <p class="text-muted mb-0">{{ friend.friend.email }}</p>
              </div>
              <div class="ml-auto">
                {% if friend.friend.status == "online" %}
                <span class="badge badge-success">Online</span>
                {% else %}
                <span class="badge badge-secondary">Offline</span>
                {% endif %}
                <a href="#" class="btn btn-sm btn-outline-primary rounded-pill">Message</a>
              </div>
            </div>
          </li>
          {% endfor %}
          {% if friends|length > 4 %}
          <li class="list-group-item py-3">
            <a href="#" class="btn btn-sm btn-outline-secondary rounded-pill">See more</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="tab-pane fade" id="school-mates">
      <!-- User's School Mates lists -->
      {% if friends %}
      <div class="card mb-4">
        <div class="card-header bg-white">
          <h2 class="text-muted mb-0 text-center">School Mates</h2>
        </div>
        <ul class="list-group list-group-flush">
          {% for mate in friends|slice:":4" %}
          <li class="list-group-item py-3">
            <div class="media">
              <img src="{{ user.profile_picture.url }}" alt="{{ friend.friend.username }}" class="mr-3 rounded-circle"
                height="60">
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{ mate.friend.username }}</h5>
                <p class="text-muted mb-0">{{ mate.friend.email }}</p>
              </div>
              <div class="ml-auto">
                {% if mate.friend.status == "online" %}
                <span class="badge badge-success">Online</span>
                {% else %}
                <span class="badge badge-secondary">Offline</span>
                {% endif %}
                <a href="#" class="btn btn-sm btn-outline-primary rounded-pill">Message</a>
              </div>
            </div>
          </li>
          {% endfor %}
          {% if friends|length > 4 %}
          <li class="list-group-item py-3">
            <a href="#" class="btn btn-sm btn-outline-secondary rounded-pill">See more</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>